h1{
    font-family: 'Lexend Zetta', sans-serif;
    color: #62BEC1;
    font-size: 50px;
    font-weight: lighter;
}
h2{
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: lighter;
}
body{
    margin: 0%;
}
#header{
    text-align: center;
    background-image: url("https://unsplash.it/1300/600?random");
    background-size: cover;
    padding: 150px;
    color: white;
    text-shadow: 1px 1px 5px black; 
}
#header h1{
    color: white;
    font-size: 50px;
}
header p{
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
}
a{
    font-size: 30px;
}
a:hover{
    text-decoration: none;
    color:#62BEC1;
}
#banner{
    background-color: 222831;
    margin: 35px;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px rgb(230, 230,230)
}
.card{
    text-align: center;
}
#footer{
    background-color: black;
    color: white;
    padding: 30px;
}